<div>
    <div>
        <h2>Login</h2>
        <form action="submit" id="login-form">
            <div>
                <label for="username-login">Username:</label>
                <input class="form-input" type="text" id="username-login">
            </div>
            <div>
                <label for="password-login">Password:</label>
                <input type="text" type="password" id="password-login">
            </div>
            <div>
                <button type="submit">Login</button>
            </div>
            <div>
                <h2>Sign Up</h2>
                <form action="submit" id="signup-form">
                    <div>
                        <label for="username-signup"> USername:</label>
                        <input type="text" id="username-signup">
                    </div>
                    <div>
                        <label for="password-signup">Password:</label>
                        <input type="text" type="password" id="password-login">
                    </div>
                    <div>
                        <button type="submit">submit</button>
                    </div>
                </form>
            </div>
        </form>
    </div>
</div>

<script src="./js/login.js"></script>